<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div style="margin: 0 auto; width: fit-content;">

        <table>
            <tr style="margin-bottom: 1rem">
                <th>
                    <h1>Daily Work Timer by ZlabiDev</h1>
                </th>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-form-field" style="margin-right: 1rem;">
                        <mat-label>Start-Time</mat-label>
                        <input matInput type="text" [ngxTimepicker]="startTimePicker" [format]="24" readonly
                               [(ngModel)]="startTime">
                    </mat-form-field>
                    <mat-form-field class="example-form-field">
                        <mat-label>End-Time</mat-label>
                        <input matInput type="text" [ngxTimepicker]="endTimePicker" [format]="24" readonly
                               [(ngModel)]="endTime">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-form-field" style="margin-right: 1rem;">
                        <mat-label>Free-Time</mat-label>
                        <input matInput type="number" [(ngModel)]="freeTime">
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="onCalculate()">CalculateTime</button>
                </td>
            </tr>
            <tr>
                <th>
                    <h3>{{ calculatedHours }} worked hours</h3>
                </th>
            </tr>
        </table>
    </div>
</div>
<ngx-material-timepicker #startTimePicker></ngx-material-timepicker>
<ngx-material-timepicker #endTimePicker></ngx-material-timepicker>
